<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
    <div class="app">
        <header>
            <h1>Header</h1>
        </header>

        
        {{{body}}}

        <footer>
            <h1>Footer</h1>
        </footer>

    </div>
</body>
</html>
