<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../public/styles/styles.css" />
    <title>Example App</title>
  </head>
  <body>
    <div class="app">
      <header>
        <h1 class="flex-auto bottom-14 bg-red-900">Header</h1>
      </header>

      {{{body}}}

      <footer>
        <h1>Footer</h1>
      </footer>

    </div>
  </body>
</html>